@charset "UTF-8";


/* 페이징 시작*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    position: relative;
}
 
.pagination span, .pagination a {
    display: block;
    width: auto;
    margin: 4px;
    padding: 8px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
}
 
 
/* ページ番号 */
.pagination .pager{
    width: 32px;
    border: 1px solid #ddd;
}
 
/* ホバー時 & 現在のページ */
.pagination a:hover,
.pagination .current{
    color: #fff;
    border-color: #333;
    background-color: #333;
}
 
.pagination .str{
    font-weight: bold;
}
/* 前へ */
.pagination a.prev {
    margin-right: 16px;
}
/* 次へ */
.pagination a.next {
    margin-left: 16px;
}
/* Page x / y */
.pagination span.page_num {
    display: none;
}
/* 페이징 끝*/